<h1>Listing devices</h1>

<table>
  <thead>
    <tr>
      <th>Host</th>
      <th>Manufacture</th>
      <th>Serial number</th>
      <th>Secre</th>
      <th>Port</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.host %></td>
        <td><%= device.manufacture %></td>
        <td><%= device.serial_number %></td>
        <td><%= device.secre %></td>
        <td><%= device.port %></td>
        <td><%= link_to 'Show', device %></td>
        <td><%= link_to 'Edit', edit_device_path(device) %></td>
        <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device', new_device_path %>
