<p id="notice"><%= notice %></p>

<p>
  <strong>Host:</strong>
  <%= @device.host %>
</p>

<p>
  <strong>Manufacture:</strong>
  <%= @device.manufacture %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @device.serial_number %>
</p>

<p>
  <strong>Secre:</strong>
  <%= @device.secre %>
</p>

<p>
  <strong>Port:</strong>
  <%= @device.port %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
